@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app-body {
	font-family: 'Montserrat', sans-serif;
}

.app-background {
	background-color: #395c6bff;
}

.app-section {
	margin-bottom: 2rem;
}